{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
		<div class="row">
	        <div class="col-md-3"></div>
	        <div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Forgot your password?</h3>
					</div>
					<div class="panel-body">
                        <div class="col-md-12">
                            <p>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
                        </div>
                        {{ form.email.errors }}
						<!-- Forgot Password Form Start -->
						<form role="form" method="post" action="">{% csrf_token %}
						    <div class="col-md-6">
							    <div class="form-group">
							        <label class="sr-only" for="exampleInputEmail2">Email Address</label>
							        <input type="email" name="email" class="form-control" id="id_email" placeholder="Email Address">
							    </div>
						    </div>
						    <div class="col-md-6">
							    <div class="form-group">
							        <button type="submit" class="form-control btn btn-success">Reset my password</button>
							    </div>
						    </div>
						</form>
						<!-- Forgot Password Form End -->
					</div>
				</div>
	        </div>
	        <div class="col-md-3"></div>
	    </div>
{% endblock %}