{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}

{% block content %}

		<div class="row">
	        <div class="col-md-3"></div>
	        <div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Your new password</h3>
					</div>
					<div class="panel-body">
                        <div class="col-md-12">
                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        </div>
                        {% if validlink %}
						<!-- New Password Form Start -->
						<form action="" method="post">{% csrf_token %}
						    <div class="col-md-6">
                                {{ form.new_password1.errors }}
							    <div class="form-group">
							        <label class="sr-only" for="id_new_password1">Password</label>
							        <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="Password">
							    </div>
						    </div>
                            <div class="col-md-6">
                                {{ form.new_password2.errors }}
							    <div class="form-group">
							        <label class="sr-only" for="id_new_password1">Confirm Password</label>
							        <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="Confirm Password">
							    </div>
						    </div>
						    <div class="col-md-12">
							    <div class="form-group">
							        <button type="submit" class="form-control btn btn-success">Confirm my Password</button>
							    </div>
						    </div>
						</form>
						<!-- New Password Form End -->
                        {% else %}
						<!-- Unsuccessful Reset Start -->
                            <h1>Password Reset unsuccessful</h1>
                            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
						<!-- Unsuccessfull Reset End -->
                        {% endif %}
					</div>
				</div>
	        </div>
	        <div class="col-md-3"></div>
	    </div>
{% endblock %}