{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Step 2. Select your University{% endblock %}

{% block content %}
		<div class="row">
	        <div class="col-md-2"></div>
	        <div class="col-md-8">

                <div class="row page-title rowpadding"><h2>Step 2! Select your <b>University</b>.</h2></div>

                <div class="row rowpadding">

                    <div class="alert alert-success">
                        <strong>Yes!</strong> So you are now a member of our <b>Uni Progress</b>. Thank you for choosing us!<br />
                        Now all you have to do is to follow 2 more simple steps and you will be set going! Couldn't be easier!
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Is your university listed yet?</h3>
                        </div>
                        <div class="panel-body">
                            <!-- Step 2 Form Start -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Ooops!</strong> Something went wrong.<br />
                                    <ul class="fa-ul">
                                        {% if form.university.errors %}<li><i class="fa-li fa fa-user fa"></i>Your forgot to select your University.</li>{% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                            <form class="form-horizontal" action="{% url 'step2' %}" role="form" method="post">{% csrf_token %}
                              <div class="col-md-9">
                                  <div class="form-group">
                                        <label class="col-sm-4 control-label" for="university">You are studying at</label>
                                        <div class="col-sm-8">
                                            <select id="university" name="university" class="form-control">
                                                <option disabled selected>Your University</option>
                                                {% for university in universities %}
                                                <option value="{{ university.id }}">{{ university.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                    <button type="submit" class="form-control btn btn-success">Correct</button>
                                  </div>
                              </div>
                            </form>
                            <!-- Step 2 Form End -->
                        </div>
                    </div>
                </div>
	        </div>
	        <div class="col-md-3"></div>
	    </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row steps">
                        <div class="col-md-4 steptransparent">
                            <div class="row singlestep text-center">
                                <img src="{% static "images/steps/step1.png" %}" alt="Step 1. Sign Up" /><br />
                                <h4>Step 1<span class="glyphicon glyphicon-ok"></span><br /><b><s>Sign Up</s></b></h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row singlestep text-center">
                                <img src="{% static "images/steps/step2.png" %}" alt="Step 2. Select Your University" /><br />
                                <h4>Step 2<br /><b>Your University</b></h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row singlestep text-center">
                                <img src="{% static "images/steps/step3.png" %}" alt="Step 3. Select Your Course" /><br />
                                <h4>Step 3<br /><b>Your Course</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
{% endblock %}